<h1>About me!</h1>
<p>My name is Nina Ivey Wilson. I have been a professional librarian for over 8 years. I have worked in K-12 Public School Media and Technology Centers, a Research HBCU Library, a Public Library, and a Non-Profit Organization's Library. My interest include social justice, bridging the digital divide, data acquisition, data management, data warehousing, and knowledge discovery.</p>
